body {
    background: linear-gradient(-45deg, #09805a, #7cd5ff);
}
.wrapper {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}
.list-personnes {
    width:200px;
    max-height: 100%;
    overflow-y: auto;
    list-style:none;
    padding:4px;
    margin:0px;
    display:inline-block;
    position:  fixed;
}
.list-personnes li {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px -2px #00000094;
    list-style:none;
    padding:6px 12px;
    margin:2px;
    cursor:pointer;
    text-transform: lowercase;
}
.list-personnes li .add-on {
    opacity:0;
    margin-right:-4px;
    transition:all ease-out .2s;
    font-size:16px;
    float:right;
}
.list-personnes li:hover .add-on {
    opacity:1;
    margin-right:0px;
}
.list-personnes li.selected {
    color: #165625;
    background:#a8e9b0;
}
.list-personnes li.selected_2 {
    color: #a95800;
    background: #ffe184;
}

.view-calendar {
    width: 100%;
    padding-left: 220px;
    padding-right: 20px;
    /* margin-top: 70px; */
    display:inline-block;
    vertical-align: top;
}
.view-calendar h1, .view-calendar h2 {
    color:white;
    font-weight:100;
}
.view-calendar h2 {
    font-size:26px;
}

.view-calendar > .titre-personne, .view-calendar > .titre-periode {
    text-transform: lowercase;
    display:inline;
}

.view-calendar .calendar, .view-calendar .alert {
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);
}
.view-calendar .alert h2 {
    color:black;
    text-shadow:0 -1px 0px rgba(218, 218, 218, 0.5);
}

.view-calendar .alert-info {
    background-color:#cef3ffb0;
}
.view-calendar .alert-success.personne_2 {
    color: #a95800;
    background: #ffe184;
    border: 1px solid #ffc40b;
}
.view-calendar .alert-success.split {
    width: 48%;
    margin-left: 1%;
    display:inline-block;
    vertical-align: top;
}
.view-calendar .alert-success {
    background-color:#c0ffc9ad;
}


.fc-view-container {
    background: rgba(255, 255, 255, 0.9);
    margin-bottom:12px;
    margin-top:12px;
}
.fc-event, .fc-event-dot {
    /*background-color: rgb(154, 228, 193) !important;*/
    border: none !important;
}

.fc-time {
    display:none;
}
.fc-title {
    margin-left:4px;
}
.fc-unthemed td.fc-today {
    background:#78d4fb30 !important;
}

.fc-day .qla-tooltip {
    display: none;
}
.fc-day:hover .qla-tooltip {
    display: block;
}
.qla-tooltip {
    z-index: 99999999;
    position: absolute;
    background: white;
    font-size: 14px;
    padding: 6px 10px;
}
.fc-row .fc-bg, .fc-day-grid .fc-row {
    z-index: unset !important;
}